body {
  
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00B7FF;
}
#dashboard{
  height: 90vh;
}
#mapDiv{
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 200px; /* prevent collapse */
}
#map {
  height:90vh;
}
#messages{
  overflow-y: auto;
  overflow-x:hidden;
  scrollbar-width: thin;
}

#canvasSideView{
    overflow-y: auto; 
    overflow-x: hidden; 
    height: 90vh;
    min-width: 250px;
    max-width: 1000px;
    display: none;
    resize: horizontal;
}
#canvasBottomView{
    /* height: 20vh; */
    overflow-x:auto;
    overflow-y:hidden;
    visibility: hidden;
}
#toolset{
  height: 90vh
}

.scatterplot{
  transition: all .2s ease-in-out;
  position: relative;
  z-index: 1;

}
canvas{
  width: 100% !important;
  height:auto !important;
  min-height: 25vh;
}

